body {
  --border-radius-small: 8px;
  --border-radius-medium: 12px;
  --border-radius-large: 16px;
}

.arco-modal-simple .arco-modal-footer {
  margin: 0;
}
.arco-modal-simple .arco-modal-body {
  margin-bottom: 24px;
  text-align: center;
}

.arco-drawer {
  height: calc(100% - 16px);
  margin: 8px;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  background: transparent;
}
.arco-drawer > * {
  background-color: var(--color-bg-3);
}

.arco-form-item-label-required-symbol svg {
  vertical-align: unset;
}

.clear-mask-layer .arco-drawer-mask {
  background: transparent;
}
